.navigation {
	position: fixed;

	z-index: 1;

	display: grid;
	grid-template-areas: 'n-wrap' 'n-cont';

	grid-template-rows: auto;
	width: 100%;

	overflow: hidden auto;
}

.navigation--open {
	height: 100%;
	background-color: rgba($color: $color-black, $alpha: 70%);

	transition-timing-function: ease-in-out;
	animation-name: navigation-opened;
	animation-duration: 0.8s;
}

@keyframes navigation-opened {
	from {
		background-color: rgba($color: $color-black, $alpha: 0%);
	}

	to {
		background-color: rgba($color: $color-black, $alpha: 70%);
	}
}

.navigation__wrapper {
	display: flex;
	grid-area: n-wrap;
}

.navigation__container {
	grid-area: n-cont;
}

.navigation__link {
	display: flex;
	align-items: center;
}

@media (max-width: 639.98px) {
	.navigation__wrapper {
		justify-content: space-between;
	}
}

@media (min-width: 1211px) {
	.navigation {
		grid-template-areas: '. n-wrap .' '. n-cont .';
		grid-template-columns: 1fr 1156px 1fr;
		grid-template-rows: auto auto;

		background-color: $color-white;
	}

	.navigation__wrapper {
		justify-content: space-between;
		padding-top: 15px;
	}

	.navigation__content {
		justify-self: center;
		width: 1156px;
		outline: 1px solid black;
	}

	.navigation__list {
		display: flex;
		justify-content: space-between;
	}
}
