.logo-size--s {
	width: 102px;
	height: 20px;
}

.logo-size--m {
	width: 124px;
	height: 24px;
}

.logo-size--ms {
	width: 153px;
	height: 40px;
}

.logo-size--l {
	width: 164px;
	height: 32px;
}

.logo-size--xl {
	width: 218px;
	height: 42px;
}
