$black: #000;
$white: #fff;
$tooltip: #555;

$link: #551a8b;
$hover: #c8c5bb;
$smoky: #f6f6f6;
$timber: #e2e1db;
$crayola: #f7f7f9;
$carousel: #c4c4c4;

$brand: #a77d57;
$gold: #d9a95e;
$valencia: #d63b3b;
