/* Grid */
$min-low: 320;
$max-low: 319.98;

$min-medium: 1366;
$max-medium: 1365.98;

$min-high: 1920;
$max-high: 1919.98;

$min-ultra: 2560;
$max-ultra: 2559.98;

$min-extreme: 3840;
$max-extreme: 3839.98;
