.tabs__line--top .tab__text {
	border-top: 2px solid $color-timber;
}

.tabs__line--right .tab__text {
	border-right: 2px solid $color-timber;
}

.tabs__line--bottom .tab__text {
	border-bottom: 2px solid $color-timber;
}

.tabs__line--left .tab__text {
	border-left: 2px solid $color-timber;
}
