.info {
	font-size: 13px;
	line-height: 16px;

	// outline: 1px solid fuchsia;
}

@media (max-width: 1210.98px) {
	.navigation__info {
		width: 172px;

		padding-left: 20px;
	}
}

@media (min-width: 1211px) {
	.navigation__info {
		min-width: 260px;
	}
}
