.menu {
	bottom: -1px;
	left: 0;

	z-index: 5;

	grid-area: menu;

	min-width: 70px;
	height: fn-linear(48, 62);

	background-color: $color-white;
}

.menu__title {
	margin: 0;
}

@media (max-width: 639.98px) {
	.menu {
		position: fixed;
		width: 100%;
		box-shadow: 0 2px 12px rgb(0 0 0 / 16%);
	}
}

@media (min-width: 640px) {
	.menu {
		width: min-content;
	}
}

@media (min-width: 640px) and (max-width: 1210.98px) {
	.menu {
		order: 2;
	}
}
