.menu {
	bottom: -1px;
	z-index: 5;

	grid-area: menu;

	min-width: 70px;
	height: fn-linear(48, 62);

	background-color: $color-white;
	box-shadow: 0 2px 12px rgb(0 0 0 / 16%);
}

.menu__title {
	margin: 0;
}

@media (max-width: 1210.98px) {
	.menu {
		position: fixed;

		width: 100%;
		// width: 304px;
	}
}

@media (min-width: 1211px) {
	.menu {
		width: min-content;
	}
}
