.header {
	background-color: $color-white;
}

@media (max-width: 1210.98px) {
	.header {
		height: fn-linear(48, 62);
	}
}

/* 1710 - Ширина nav > desktop */
@media (min-width: 1211px) and (max-width: 1709.98px) {
	.header {
		// display: grid;

		// justify-content: center;
		// grid-template-columns: 1156px;

		height: fn-linear(121, 135);
	}
}
