/* stylelint-disable declaration-block-no-redundant-longhand-properties */

@media (max-width: #{$max-medium-width}px) {
	.personal {
		// display: grid;
		display: flex;
		flex-direction: column;

		// justify-content: center;
		// grid-template-areas: 'ps-list' 'ps-clns';
		// grid-template-columns: 1fr max-content 1fr;
		// grid-template-rows: auto auto;
	}

	.personal__list {
		align-self: center;
		// grid-area: ps-list;
		// grid-column: 2 / 3;
	}

	// .personal__collections {
	// 	grid-area: ps-clns;
	// 	grid-column: 1 / 4;
	// }
}
