.text-color--black {
	color: $color-black;
}

.text-color--white {
	color: $color-white;
}

.text-color--tooltip {
	color: $color-tooltip;
}

.text-color--hover {
	color: $color-hover;
}

.text-color--smoky {
	color: $color-smoky;
}

.text-color--timber {
	color: $color-timber;
}

.text-color--crayola {
	color: $color-crayola;
}

.text-color--brand {
	color: $color-brand;
}

.text-color--gold {
	color: $color-gold;
}

.text-color--valencia {
	color: $color-valencia;
}
