.menu {
	width: 320px;

	box-shadow: 0 2px 12px rgb(0 0 0 / 16%);
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 48px;

	margin-right: 16px;
	margin-left: 16px;
}
