.card__wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

@include mix-media(ultra-low) {
	.card__wrapper {
		gap: 6px;
	}
}

@include mix-media(low) {
	.card__wrapper {
		gap: fn-linear(6, 12);
	}
}
