.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
	display: block;

	width: 16px;
	height: 1px;

	background-color: $color-black;
	border-radius: 4px;

	transition-timing-function: ease;
	transition-duration: 0.15s;
	transition-property: transform;
}

.hamburger__inner::before,
.hamburger__inner::after {
	content: '';
	position: absolute;
}

.hamburger__inner::before {
	top: -4px;
}

.hamburger__inner::after {
	bottom: -4px;
}
