.promo__title {
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	font-family: 'Forum Regular', Arial, sans-serif;
	color: #fff;
}

.promo__item:nth-child(1) .promo__title {
	text-align: center;
}

.promo__item:not(:nth-child(1)) .promo__title {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}
