.button-size--xs {
	padding: 9px 16px;
}

.button-size-sxs {
	padding: 8px;
}

.button-size--s {
	padding: 8px 14px;
}

.button-size--m {
	padding: 11px 13px;
}

.button-size--l {
	padding: 13px 16px;
}
