.button-view--brand {
	color: $color-white;

	background-color: $color-brand;
	border: 1px solid transparent;
}

.button-view--brand > svg {
	fill: $color-white;
}

.button-view--clear {
	background-color: white;
	border: 1px solid transparent;
}

.button-view--ghost {
	border: 1px solid $color-timber;
}

.button-view--white {
	background-color: white;
	border: 1px solid $color-timber;
}

.button-view--brand:hover,
.button-view--clear:hover,
.button-view--ghost:hover,
.button-view--white:hover {
	color: $color-gold;

	background-color: $color-crayola;
	border: 1px solid $color-gold;
}
