.personal__link {
	display: flex;

	flex-grow: 1;
	justify-content: center;
	align-items: center;
	// align-items: flex-start; перенести на tablet

	// min-height: 34px;
	min-height: linear-equations($min-low-width, $min-medium-width, 34, 43);

	// font-size: linear-equations($min-low-width, $min-medium-width, 16, 26);

	border-bottom: 2px solid #e2e1db;
}

.personal__link--active {
	border-bottom: 2px solid #d9a95e;
}
