.card__price {
	display: block;
}

@include mix-media(ultra-low) {
	.card__price {
		padding-bottom: 12px;
		line-height: 18px;
	}
}

@include mix-media(low) {
	.card__price {
		padding-bottom: fn-linear(12, 18);
		line-height: fn-linear(18, 26);
	}
}
