.text-size {
	font-size: 10px;
}

.text-size--xxs {
	font-size: 11px;
}

.text-size--xs {
	font-size: 13px;
}

.text-size--s {
	font-size: 14px;
}

.text-size--sm {
	font-size: 15px;
}

.text-size--m {
	font-size: 16px;
}

.text-size--ml {
	font-size: 17px;
}

.text-size--mls {
	font-size: 18px;
}

.text-size--l {
	font-size: 20px;
}

.text-size--lxl {
	font-size: 22px;
}

.text-size--xl {
	font-size: 24px;
}

.text-size--xlxxl {
	font-size: 28px;
}

.text-size--xxl {
	font-size: 32px;
}

.text-size--xxlxxxl {
	font-size: 36px;
}
