.text-line-height {
	line-height: 12px;
}

.text-line-height--xxs {
	line-height: 16px;
}

.text-line-height--xs {
	line-height: 18px;
}

.text-line-height--s {
	line-height: 20px;
}

.text-line-height--sm {
	line-height: 26px;
}

.text-line-height--m {
	line-height: 28px;
}

.text-line-height--ml {
	line-height: 30px;
}

.text-line-height--l {
	line-height: 32px;
}

.text-line-height--lx {
	line-height: 38px;
}

.text-line-height--lxl {
	line-height: 40px;
}

.text-line-height--lxxl {
	line-height: 42px;
}
