// .buttom {

// }

.button--favorite {
	background-color: $color-white;
	border: 1px solid $color-base-border;
}

.button--brand {
	color: $color-white;
	background-color: $color-brand;
}

// .buttom__icon {

// }

// .button__icon.icon__favorites {

// }
