.personal__list {
	display: flex;

	justify-content: center;
	width: max-content;

	margin-bottom: 20px;
}

@media (max-width: #{$max-low-width}px) {
	.personal__list {
		min-width: 320px;

		margin-top: 20px;
	}
}

@media (min-width: #{$min-low-width}px) {
	.personal__list {
		min-width: linear-equations(
			$min-low-width,
			$min-medium-width,
			320,
			333
		);

		margin-top: linear-equations($min-low-width, $min-medium-width, 20, 40);
	}
}
