/* stylelint-disable font-family-no-missing-generic-family-keyword */

.personal__description {
	padding-top: 12px;
	padding-bottom: 12px;

	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Forum Regular';
	color: #000;
}
