// .categories--sidebar {

// }

// .categories--navigation {

// }

.categories--sidebar .categories__list {
	display: block;
	width: 320px;

	background-color: $color-white;
}

.categories--sidebar .categories__item {
	padding-left: 20px;

	line-height: 0;
}

@media (max-width: 1155.98px) {
	.categories--sidebar .categories__item {
		padding-left: 20px;
	}
}

@media (min-width: 1156px) {
	.categories--sidebar .categories__item {
		padding-left: 16px;
	}
}

.categories--navigation .categories__list {
	display: flex;

	justify-content: space-between;
}
