.special__wrapper {
	display: grid;

	width: 100%;

	min-width: 320px;
	// min-height: 393px;
	// min-height: 637px;
	min-height: 571px;
	// min-height: 429px;
	// min-height: 526px;

	// padding-top: 303px;
}
