.icon {
	width: 16px;
	height: 16px;

	fill: $color-black;
}

// .icon__basket {

// }

// .icon__search {

// }

// .icon__login {

// }

.icon__favorite {
	fill: $color-gold;
}

.icon__favorite--state {
	fill: $color-valencia;
}
