.menu__link {
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 100%;

	// outline: 1px solid red;
}

@media (max-width: 639.98px) {
	.menu__link {
		min-width: 80px;
	}
}

@media (min-width: 640px) {
	.menu__item:not(:last-child) .menu__link {
		min-width: 80px;
	}

	.menu__item:last-child .menu__link {
		padding-left: 18px;
	}
}
