.header__sidebar {
	position: relative;
	z-index: 10;
}

@media (max-width: 1155.98px) {
	.header__sidebar {
		margin-top: 48px;
	}
}

@media (min-width: 1156px) {
	.header__sidebar .categories__item {
		border-top: 1px solid $color-timber;
	}

	.header__sidebar .categories__item:last-child {
		border-bottom: 1px solid $color-timber;
	}

	.header__sidebar .categories__list {
		padding-top: 10px;
		padding-bottom: 18px;
	}
}

@media (min-width: 1188px) and (max-width: 1365.98px) {
	.header__sidebar.sidebar {
		display: grid;

		grid-template-columns: 1fr 320px 868px 1fr;
	}

	.header__sidebar .sidebar__window {
		grid-column: 2 / 3;
	}
}

@media (min-width: 1156px) and (max-width: 1365.98px) {
	.header__sidebar {
		margin-top: 62px;
	}
}

@media (min-width: 1366px) {
	.header__sidebar {
		margin-top: 68px;
	}
}
