.navigation__wrapper {
	position: relative;

	background-color: $color-white;
}

@media (max-width: 1210.98px) {
	.navigation__wrapper {
		position: fixed;

		width: 100%;
		height: fn-linear(48, 62);

		box-shadow: 0 2px 12px rgb(0 0 0 / 16%);
	}
}
