.personal__button {
	flex-grow: 1;

	color: #fff;
}

.personal__button--favorite {
	background-color: #fff;
	border: 1px solid #e2e1db;
}

.personal__button--blind {
	background-color: #a77d57;
}

@media (max-width: #{$max-low-width}px) {
	.personal__button {
		min-height: 28px;

		font-size: 11px;
		line-height: 12px;
	}

	.personal__button--favorite {
		max-width: 28px;
	}
}

@media (min-width: #{$min-low-width}px) {
	.personal__button {
		min-height: linear-equations($min-low-width, $min-medium-width, 28, 46);

		font-size: linear-equations($min-low-width, $min-medium-width, 11, 16);
		line-height: 12px;
	}

	.personal__button--favorite {
		max-width: linear-equations($min-low-width, $min-medium-width, 28, 46);
	}
}
