.personal__button {
	flex-grow: 1;
	min-height: 28px;

	font-size: 11px;
	line-height: 12px;
	font-family: 'TT Norms', Arial, sans-serif;
	color: #fff;
}

.personal__button--favorite {
	max-width: 28px;

	background-color: #fff;
	border: 1px solid #e2e1db;
}

.personal__button--blind {
	background-color: #a77d57;
}
