/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable scss/double-slash-comment-empty-line-before */

// .header {
// 	display: grid;
// 	justify-content: space-between;
// 	grid-area: hd;
// 	grid-template-areas: 'logo nav';
// 	grid-template-columns: min-content min-content;
// 	grid-template-rows: 48px max-content;
// 	min-height: 48px;
// }

// .navigation {
// 	position: relative;
// 	z-index: 10;
// 	display: grid;
// 	justify-content: space-between;
// 	grid-area: nav;
// 	grid-template-areas: 'logo hmbr' 'nav-list nav-list';
// 	grid-template-columns: min-content min-content;
// 	grid-template-rows: 48px min-content;
// }

.navigation__wrapper {
	position: relative;
	display: grid;
	justify-content: space-between;
	grid-area: nav;
	grid-template-areas: 'logo hmbr' 'nav-list nav-list';
	grid-template-columns: min-content min-content;
	grid-template-rows: 48px min-content;
	background-color: white;
}
