.card__icon.icon__favorite--state {
	position: absolute;
	top: 20px;
	right: 20px;
}

@include mix-media(ultra-low) {
	.card__icon.icon__favorite {
		width: 12px;
		height: 10px;
	}
}

@include mix-media(low) {
	.card__icon.icon__favorite {
		width: fn-linear(12, 19);
		height: fn-linear(10, 17);
	}
}
