.button {
	display: flex;

	align-items: center;
	gap: 10px;

	width: min-content;

	transition-timing-function: ease-in-out;
	transition-duration: 0.15s;
}

.button:hover > svg {
	fill: $color-gold;
}
