.personal__list {
	display: flex;

	justify-content: center;
	width: max-content;

	margin-bottom: 20px;
}

@include mix-media(ultra-low) {
	.personal__list {
		min-width: 320px;

		margin-top: 20px;
	}
}

@include mix-media(low) {
	.personal__list {
		min-width: fn-linear(320, 333);

		margin-top: fn-linear(20, 40);
	}
}
