/* stylelint-disable value-no-vendor-prefix */

.promo__item {
	background-size: cover;
	aspect-ratio: 1 / 0.875;
}

.promo__item:not(:last-child) {
	margin-bottom: 1px;
}

.promo__item:not(:first-child) {
	padding-bottom: 20px;
	padding-left: 20px;
}

.promo__item:nth-child(1) {
	padding-right: 28px;
	padding-left: 28px;

	background-image: -webkit-image-set(
		url('../../../../public/assets/images/mobile/promo/promo-wom/promo-wom.jpg')
			1x
	);
	background-image: image-set(
		url('../../../../public/assets/images/mobile/promo/promo-wom/promo-wom.webp')
			type('image/wepb') 1x,
		url('../../../../public/assets/images/mobile/promo/promo-wom/promo-wom.jpg')
			1x
	);
}

.promo__item:nth-child(2) {
	background-image: -webkit-image-set(
		url('../../../../public/assets/images/mobile/promo/promo-men/promo-men.jpg')
			1x
	);
	background-image: image-set(
		url('../../../../public/assets/images/mobile/promo/promo-men/promo-men.webp')
			type('image/wepb') 1x,
		url('../../../../public/assets/images/mobile/promo/promo-men/promo-men.jpg')
			1x
	);
}

.promo__item:nth-child(3) {
	background-image: -webkit-image-set(
		url('../../../../public/assets/images/mobile/promo/promo-tec/promo-tec.jpg')
			1x
	);
	background-image: image-set(
		url('../../../../public/assets/images/mobile/promo/promo-tec/promo-tec.webp')
			type('image/wepb') 1x,
		url('../../../../public/assets/images/mobile/promo/promo-tec/promo-tec.jpg')
			1x
	);
}
