.text-letter-spacing--xs {
	letter-spacing: 0.01em;
}

.text-letter-spacing--s {
	letter-spacing: 0.02em;
}

.text-letter-spacing--m {
	letter-spacing: 0.06em;
}

.text-letter-spacing--l {
	letter-spacing: 0.1em;
}
