.header {
	background-color: $color-white;
	box-shadow: 0 2px 12px rgb(0 0 0 / 16%);
}

@media (max-width: 639.98px) {
	.header .menu {
		position: fixed;
		bottom: -1px;
		left: 0;

		width: 100%;
	}
}

@media (min-width: 1156px) {
	.header .logo {
		justify-self: center;
	}

	.header .menu {
		justify-self: flex-end;
	}
}

@media (max-width: 1187.98px) {
	.header {
		padding: 0 16px;
	}
}

@media (min-width: 1366px) {
	.header {
		padding-top: 15px;
	}
}

@media (min-width: 1366px) and (max-width: 1919.98px) {
	.header {
		padding-right: 105px;
		padding-left: 105px;
	}
}
