html,
body {
	min-width: 320px;

	font-family: $base-font-family;
	color: $base-font-color;
	font-style: $base-font-style;
}

img {
	max-width: 100%;
	height: auto;
}

picture img {
	vertical-align: middle;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

/* Ultra-low */
@media (max-width: #{$max-low-width}px) {
	html,
	body {
		font-size: $low-font-size;
	}
}

/* Low */
@media (min-width: #{$min-low-width}px) and (max-width: #{$max-medium-width}px) {
	html,
	body {
		font-size: linear-equations(
			$min-low-width,
			$min-medium-width,
			$low-font-size,
			$medium-font-size
		);
	}
}

/* Medium */
@media (min-width: #{$min-medium-width}px) and (max-width: #{$max-high-width}px) {
	html,
	body {
		font-size: linear-equations(
			$min-medium-width,
			$min-high-width,
			$low-font-size,
			$medium-font-size
		);
	}
}

/* Hight */
@media (min-width: #{$min-high-width}px) {
	html,
	body {
		font-size: linear-equations(
			$min-high-width,
			$min-ultra-width,
			$low-font-size,
			$medium-font-size
		);
	}
}
