/* stylelint-disable number-max-precision */

/* Font types */
$font-tt-norms: 'TT Norms', 'Arial', sans-serif;
$font-forum-regular: 'Forum Regular', 'Arial', sans-serif;

/* Font sizes */
$low-font-size: 13;
$medium-font-size: 16;
$high-font-size: 28;

/* Font settings */
$base-font-family: $font-tt-norms;
$base-font-color: #000;
$base-font-style: normal;

/* Media */
$max-low-width: 319;
$min-low-width: 320;

$max-medium-width: 1365;
$min-medium-width: 1366;

$max-high-width: 1919;
$min-high-width: 1920;

$max-ultra-width: 3839;
$min-ultra-width: 3840;

// $max-extreme-width: 6665px;
// $min-extreme-width: 6666px;
