/* Media */
$max-low-width: 319px;
$min-low-width: 320px;

$max-medium-width: 1365px;
$min-middle-width: 1366px;

$max-high-width: 1919px;
$min-high-width: 1920px;

// $max-ultra-width: 3839px;
// $min-ultra-width: 3840px;

// $max-extreme-width: 6665px;
// $min-extreme-width: 6666px;

/* Colors */
