.knob {
	display: flex;

	flex-direction: column;
	align-items: center;
	gap: 2px;

	width: min-content;

	color: $color-tooltip;

	cursor: pointer;

	transition-timing-function: ease-in-out;
	transition-duration: 0.15s;
}

.knob:hover {
	color: $color-brand;
}

/* Переработать утсановку значений fz, lh */
/* Компонент knob имеет два состояния link и div */

@media (max-width: 1155.98px) {
	.knob {
		font-size: 10px;
		line-height: 12px;
	}
}

@media (min-width: 1156px) and (max-width: 1365.98px) {
	.knob {
		font-size: 12px;
		line-height: 14px;
	}
}

@media (min-width: 1366px) {
	.knob {
		font-size: 13px;
		line-height: 16px;
	}
}
