/* stylelint-disable prettier/prettier */

@function base-scale(
	$value,
	$idealViewportWidth: 320,
	$min: 320,
	$max: 1366
) {
	@return calc(
		#{$value} * (clamp(#{$min}px, 100vw, #{$max}px) / #{$idealViewportWidth})
	);
}
