/* Ultra-low */
@media (max-width: $max-low-width) {
	.hamburger {
		min-width: 48px;
	}

	.hamburger--collapse .hamburger__inner::after {
		top: -8px;
	}

	// .hamburger--collapse .hamburger__inner::before {

	// }

	// .hamburger--collapse.hamburger--open .hamburger__inner {

	// }

	// .hamburger--collapse.hamburger--open .hamburger__inner::after {

	// }

	// .hamburger--collapse.hamburger--open .hamburger__inner::before {

	// }
}

/* Low */
@media (max-width: $max-medium-width) {
	.hamburger {
		display: flex;

		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-area: hmbr;

		overflow: visible;

		text-transform: none;

		background-color: transparent;
		cursor: pointer;

		transition-timing-function: linear;
		transition-duration: 0.15s;
		transition-property: opacity, filter;
	}

	.hamburger--collapse .hamburger__inner {
		top: auto;
		bottom: 0;
		transition-delay: 0.13s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition-duration: 0.13s;
	}

	.hamburger--collapse .hamburger__inner::after {
		transition: top 0.2s 0.2s cubic-bezier(0.3333, 0.6667, 0.6667, 1),
			opacity 0.1s linear;
	}

	.hamburger--collapse .hamburger__inner::before {
		transition: top 0.12s 0.2s cubic-bezier(0.3333, 0.6667, 0.6667, 1),
			transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	.hamburger--collapse.hamburger--open .hamburger__inner {
		transform: translate3d(0, -4px, 0) rotate(-45deg);
		transition-delay: 0.22s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.hamburger--collapse.hamburger--open .hamburger__inner::after {
		top: 0;
		opacity: 0;
		transition: top 0.2s cubic-bezier(0.3333, 0, 0.6667, 0.3333),
			opacity 0.1s 0.22s linear;
	}

	.hamburger--collapse.hamburger--open .hamburger__inner::before {
		top: 0;
		transform: rotate(-90deg);
		transition: top 0.1s 0.16s cubic-bezier(0.3333, 0, 0.6667, 0.3333),
			transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

@media (min-width: $min-low-width) and (max-width: $max-medium-width) {
	.hamburger {
		width: 48px;
	}

	.hamburger--collapse .hamburger__inner::after {
		top: -8px;
	}

	.hamburger--collapse.hamburger--open .hamburger__inner {
		transform: translate3d(0, -4px, 0) rotate(-45deg);
		transition-delay: 0.22s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}
