.card__description {
	font-weight: 400;
	font-family: $font-family-forum-regular;
	color: $color-black;
}

@include mix-media(ultra-low) {
	.card__description {
		padding-top: 12px;
		padding-bottom: 12px;

		font-size: 14px;
		line-height: 18px;
	}
}

@include mix-media(low) {
	.card__description {
		padding-top: fn-linear(12, 18);
		padding-bottom: fn-linear(12, 18);

		font-size: fn-linear(14, 20);
		line-height: fn-linear(18, 26);
	}
}
